body {
  background-color: #f7f7f7;
}

section.main form {
  margin-top: 50px;
  width: 400px;
}

section.main form {
  font-size: 24px;
}

section.main form select,
input[type="file"],
input {
  margin-top: 10px;
  font-size: 24px;
}

section.main #generateButton {
  font-size: 24px;
}

section.main .config-block {
  width: 600px;
  overflow-x: auto;
}

.block {
  margin-top: 15px;
  border-radius: 10px;
  border: 2px solid gray;
  padding: 15px;
}

.row {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  width: 1100px;
}

#err {
  margin-top: 10px;
}

.error {
  color: red;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}
